$main-color: #2A3354;
$hover-color:#0771ED;
$primary-block-color: #202845;
$secondary-block-color: #303A5F;
$third-block-color:#46527D;
$border-color:#404867;
$text-color: #fff;
$spacer-s: 4px;
$spacer-m: 8px;
$spacer-l: 10px;
$spacer-xl: 12px;